@media only screen and (min-width: 320px) and (max-width: 374px){
    body > div.navWrapper > nav > ul > li a{
        font-size: 80%;
        white-space: nowrap;
    }
    #navbarToggleExternalContent > ul{
        display: block;
    }
    .navbar-toggler{
        display: block;
    }
    .navbar-toggler-icon{
        content: normal;
    }
    nav.collapse{
        display: none;
        height: auto;
    }
    #menu > div.d-flex.justify-content-between.flex-wrap{
        flex-flow: column;
    }
    #menu > div.d-flex.justify-content-between.flex-wrap > div{
        width: 100%;
    }
    #addToCartForm > div.col-sm-8 > table > tbody > tr > td > h5{
        font-size: 1em;
    }
    #cartForm > fieldset > legend > h4 {
        font-size: 0.6em;
    }
    .imageCaption{
        font-size: 24px;
        height: 40px;
        line-height: 40px;
        padding: 5px;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px){
    body > div.navWrapper > nav > ul > li a{
        font-size: 80%;
        white-space: nowrap;
    }
    #navbarToggleExternalContent > ul{
        display: block;
    }
    .navbar-toggler{
        display: block;
    }
    .navbar-toggler-icon{
        content: normal;
    }
    nav.collapse{
        display: none;
        height: auto;
    }
    #menu > div.d-flex.justify-content-between.flex-wrap{
        flex-flow: column;
    }
    #menu > div.d-flex.justify-content-between.flex-wrap > div{
        width: 100%;
    }
    #cartForm > fieldset > legend > h4 {
        font-size: 0.7em;
    }
    .imageCaption{
        font-size: 32px;
        height: 40px;
        line-height: 40px;
        padding: 5px;
    }
}
@media only screen and (min-width: 414px) and (max-width: 767px){
    body > div.navWrapper > nav > ul > li a{
        font-size: 80%;
        white-space: nowrap;
    }
    #navbarToggleExternalContent > ul{
        display: block;
    }
    .navbar-toggler{
        display: block;
    }
    .navbar-toggler-icon{
        content: normal;
    }
    nav.collapse{
        display: none;
        height: auto;
    }
    #menu > div.d-flex.justify-content-between.flex-wrap{
        flex-flow: column;
    }
    #menu > div.d-flex.justify-content-between.flex-wrap > div{
        width: 100%;
    }
    #cartForm > fieldset > legend > h4 {
        font-size: 0.8em;
    }
    .imageCaption{
        font-size: 40px;
        height: 50px;
        line-height: 50px;
        padding: 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .imageCaption{
        font-size: 40px;
        height: 50px;
        line-height: 50px;
        padding: 10px;
    }
}
