body{
	font-family: 'Open Sans', sans-serif!important;
	color: #114b5f!important;
	background-color: #65737e!important;
	overflow-x: hidden;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pageTitle{
    margin: 15px 0 20px;
}
input[disabled]{
    cursor: not-allowed;
}
button{
	cursor: pointer;
}
a.btn-primary, button.btn-primary {
	background-color: #17a2b8;
	border-color: #17a2b8
}
button.btn-primary:disabled{
	background-color: #999;
	border-color: #999;
}
.cursive{
	font-family: 'Kalam', cursive;
}
